<section class="container">
        <h2 class="text-left">Odoo RESTFUL API</h2>
</section>

<section class="container oe_dark">
        <div class="col-md-12">
            <p>This module helps you to connect or integrate any third party application with Odoo.
            <br/>It provides a fluent and easy HTTP based API interface instead of the Odoo default RPC.
            <br/>By design Odoo is shipped with RPC API interfaces which may not be straight forward for many developers that are not familiar with the RPC(s).
                This is module only cares about generating an HTTP response for each HTTP request, it has nothing to do with your or existing application logic. 

        </div>
    </div>
</section>

